<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Turing Video Tutorials, <%= @user.first_name %></h1>
    <p>
      To complete your registration,
      <a href="#{@url}">click here to activate your account</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
